/* css styles */
/* Center all page titles */
h1.title {
  text-align: center;
}
h2.subtitle {
  text-align: center;
}

/* Navbar background and text color */
.navbar {
  background-color: purple !important;
}

.navbar a, .navbar-brand {
  color: white !important;
}

/* Dropdown menu text */
.dropdown-menu .dropdown-item {
  color: #6A1B9A !important;  /* purple */
}

/* Hover colour */
.dropdown-menu .dropdown-item:hover {
  color: white !important;
  background-color: #6A1B9A !important;
}